*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
:root{
    /* color variables */
    --bg-color:#0d0d0d;
    --text-color:#dfdede;
    --task-column-bg-color:#302f2f;
    --task-bg-color:#585656;
    --delete-bg-color:#f07474;

    /* padding variables */
    --nav-padding:20px;
    --section-padding:20px;
    --padding-s:5px;
    --padding-m:10px;
    --padding-xl:15px;
    --padding-xxl:20px;

    /* border-redius variables */
    --button-border-redius:10px;

    /* gap variables */
    --task-column-gap:20px;
    --task-gap:10px;
    --inner-task-gap:5px;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color); 
}
main{
    height: 100%;
    display: flex;
    flex-direction: column;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--nav-padding);
}

nav button{
    padding: var(--padding-m);
    border-radius: var(--button-border-redius);
    outline: none;
    border: none;
}
section{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: var(--section-padding);
    gap: var(--task-column-gap);
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-s);
}
.task-column{
    background-color: var(--task-column-bg-color);
    flex-grow: 1;
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--task-gap);
    border-radius: var(--button-border-redius);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);

}
section .task{
    background-color: var(--task-bg-color);
    border-radius: var(--button-border-redius);
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--inner-task-gap);
    cursor: grab;
}
section .task button{
    align-self: flex-end;
    background-color: var(--delete-bg-color);
    border: none;
    outline: none;
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--button-border-redius);
    cursor: pointer;
}
.hover-over{
    border: 2px dashed var(--text-color);
    scale: 1.05;
}
/* modal style */
.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal.active{
    display: flex;
}
.modal .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(74, 73, 73, 0.219);
    backdrop-filter: blur(5px);
}
.center{
    background-color: var(--task-bg-color);
    padding: var(--padding-m);
    border-radius: var(--button-border-redius);
    display: flex;
    flex-direction: column;
    gap: var(--task-gap);
    z-index: 2;
}

.modal.center input,.modal.center textarea, .modal .center select{
    background-color: var(--task-bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    border-radius: var(--button-border-redius);
}
.modal button{
    border: none;
    outline: none;
    border-radius: var(--button-border-redius);
    padding: var(--padding-s) var(--padding-m);
    cursor: pointer;
    width: fit-content;
    align-self: center;
}